<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxad.silence.persistence.DeleteInfoMapper">
	<resultMap id="BaseResultMap" type="com.wxad.silence.domain.DeleteInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="pushId" property="pushId" jdbcType="INTEGER" />
		<result column="packageName" property="packageName" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="insertDeleteInfo" parameterType="com.wxad.silence.domain.DeleteInfo">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into deletelist
		(pushId,packageName)
		values
		(#{pushId,jdbcType=INTEGER},
		#{packageName,jdbcType=VARCHAR})
	</insert>
	<delete id="deleteById">
        delete from deletelist where id=#{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByIds">
        delete from deletelist where id in
        <foreach collection="array" item="ids"  open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

    <update id="updateByIdSelective" parameterType="com.wxad.silence.domain.DeleteInfo">
        update deletelist
        <set>
            <if test="fn.notEmpty(pushId)">
                pushId=#{pushId,jdbcType=INTEGER},
            </if>
            <if test="fn.notEmpty(packageName)">
                packageName=#{packageName,jdbcType=VARCHAR},
            </if>
        </set>
        where id=#{id,jdbcType=INTEGER}
    </update>
	<sql id="Base_Column_List">
		id,pushId,packageName
	</sql>

	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from deletelist
	</select>

	<select id="getByPushId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from deletelist where pushId=#{pushId}
	</select>
    <select id="count" resultType="java.lang.Integer" parameterType="com.zhanghui.pusher.common.Paginator" >
        select count(*)
        from deletelist
        <include refid="select_count_where_sql"/>
    </select>
    <select id="select" resultMap="BaseResultMap" parameterType="com.zhanghui.pusher.common.Paginator" >
        select
        <include refid="Base_Column_List" />
        from deletelist
        <include refid="select_count_where_sql"/>
        order by id desc limit #{start},#{sqlSize}
    </select>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select <include refid="Base_Column_List"/> from deletelist where id=#{id,jdbcType=INTEGER}
    </select>
</mapper>
