<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxad.silence.persistence.RegisterInfoMapper">
	<resultMap id="BaseResultMap" type="com.wxad.silence.domain.RegisterInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="channel" property="channel" jdbcType="VARCHAR" />
		<result column="ram" property="ram" jdbcType="VARCHAR" />
		<result column="rom" property="rom" jdbcType="VARCHAR" />
		<result column="size" property="size" jdbcType="VARCHAR" />
		<result column="resolution" property="resolution" jdbcType="VARCHAR" />
		<result column="systemVersion" property="systemVersion"
			jdbcType="VARCHAR" />
		<result column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="datetime" property="datetime" jdbcType="VARCHAR" />
		<result column="language" property="language" jdbcType="VARCHAR" />
		<result column="sdkVersion" property="sdkVersion" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="VARCHAR" />
		<result column="hasSim" property="hasSim" jdbcType="VARCHAR" />
		<result column="netType" property="netType" jdbcType="VARCHAR" />
		<result column="isTablet" property="isTablet" jdbcType="VARCHAR" />
		<result column="macAddress" property="macAddress" jdbcType="VARCHAR" />
		<result column="model" property="model" jdbcType="VARCHAR" />
		<result column="country" property="country" jdbcType="VARCHAR" />
		<result column="isRoot" property="country" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="BaseResultMap1" type="com.wxad.silence.domain.RegisterInfoList" >
        <result column="channel" property="channel" jdbcType="VARCHAR" />
        <result column="datetime" property="datetime" jdbcType="VARCHAR" />
        <result column="country" property="country" jdbcType="VARCHAR" />
        <result column="count" property="count" jdbcType="INTEGER" />
    </resultMap>
	<insert id="insert" parameterType="com.wxad.silence.domain.RegisterInfo">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into registeredinfo (channel, ram, rom,
		size, resolution,
		systemVersion, uuid,
		datetime, language,sdkVersion, version,
		hasSim,
		netType,
		isTablet, macAddress,model,country,isRoot)
		values
		(#{channel,jdbcType=VARCHAR}, #{ram,jdbcType=VARCHAR},
		#{rom,jdbcType=VARCHAR},
		#{size,jdbcType=VARCHAR},
		#{resolution,jdbcType=VARCHAR}, #{systemVersion,jdbcType=VARCHAR},
		#{uuid,jdbcType=VARCHAR},#{datetime,jdbcType=VARCHAR},
		#{language,jdbcType=VARCHAR},
		#{sdkVersion,jdbcType=VARCHAR},#{version,jdbcType=VARCHAR},
		#{hasSim,jdbcType=VARCHAR}, #{netType,jdbcType=VARCHAR},
		#{isTablet,jdbcType=VARCHAR},#{macAddress,jdbcType=VARCHAR},
		#{model,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{isRoot,jdbcType=VARCHAR})
	</insert>

	<sql id="Base_Column_List">
		id, channel, ram, rom,
		size, resolution,
		systemVersion, uuid,
		datetime, language,sdkVersion, version,
		hasSim, netType,
		isTablet,
		macAddress,model,country,isRoot
	</sql>

	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from registeredinfo
	</select>

	<select id="getByUuid" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from registeredinfo where uuid=#{uuid}
	</select>

	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from registeredinfo where id=#{id}
	</select>
	<select id="select" resultMap="BaseResultMap" parameterType="com.wxad.silence.common.Paginator" >
        select
        <include refid="Base_Column_List" />
        from registeredinfo
        order by id desc  limit #{start},#{sqlSize}
    </select>
    <sql id="select_count_where_sql">
        <where>
        	datetime like CONCAT('%',#{query.datetime},'%') 
            <if test="query.channel != null">
               and channel = #{query.channel}
            </if>
            <if test="query.country != null">
               and country = #{query.country}
            </if>
        </where>
    </sql>
	<select id="count" resultType="java.lang.Integer" parameterType="com.wxad.silence.common.Paginator" >
         select count(*)
        from (select  count(uuid) count,channel,`datetime`, country
        from  registeredinfo  
        <include refid="select_count_where_sql"/>
		group by channel ,`datetime`, country
		order by datetime desc
		limit #{start},#{sqlSize}) as abc
    </select>
    <select id="countActivity" resultMap="BaseResultMap1" parameterType="com.wxad.silence.common.Paginator" >
        select * from (
        select  channel , `datetime` ,country ,COUNT(uuid) count
        from  registeredinfo  
        <include refid="select_count_where_sql"/>
		group by channel ,country order by `datetime`,channel desc limit #{start},#{sqlSize}) as temp where temp.count > 0 
    </select>
        <select id="countAll" resultType="java.lang.Integer" parameterType="com.wxad.silence.common.Paginator" >
        select  count(*)
        from  registeredinfo  
        <include refid="select_count_where_sql"/>
    </select>
</mapper>
